.Main-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__btn {
    width: 170px;
    height: 42px;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
 }